@{
    ViewBag.Title = "Home Page";
}

<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome admin!
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-widget panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="title">Total Users</div>
                                <div class="text-huge">128</div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "UserAccount")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="panel panel-widget panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="title">Banned Users</div>
                                <div class="text-huge">2</div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-times fa-5x"></i>
                            </div>
                        </div>
                    </div>
                    <a href="https://demo.vanguardapp.io/user?status=Banned">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-widget panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="title">Total Users</div>
                                <div class="text-huge">128</div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "UserAccount")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>