body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* User Management area */
.panel-widget .icon {
    position: absolute;
    right: 20px;
}

.panel-green {
    background-color: #1fa67b;
    color: #fff;
}

.panel-widget .text-huge {
    font-size: 36px;
}

.panel-widget .title {
    text-transform: uppercase;
}

.img-circle.avatar {
	border: 2px solid #ccc;
	padding: 2px;
}

@media (min-width: 991px) {
	.avatar-wrapper .avatar-preview {
		margin-top: 55px;
		margin-bottom: 80px;
	}
}

.avatar-preview {
	width: 160px;
	height: 160px;
}

.avatar-wrapper {
	text-align: center;
}